#admin table {
    width: 100%;
}

#admin table, th, td {
    text-align: center;
    vertical-align: center;
}

#admin th {
    background-color: lightgreen;
}

#admin th, td {
    border-bottom: 1px solid #ddd;
    padding: 15px;
    text-align: left;
}

#admin tr:hover {
    background-color: lightblue;
}

#admin tr:nth-child(even) {
    background-color: #fafafa;
}