<md-button ui-sref="root.home">
    Helloworld
</md-button>
<span flex></span>
<span ng-show="$state.includes('root.home')" layout="row">
    <md-button ng-hide="user.email" class="md-primary md-hue-2" style="color: rgb(12,129,72);" ui-sref="root.signup">signup</md-button>
    <md-button ng-hide="user.email" class="md-raised md-primary md-hue-2" ui-sref="root.login">login</md-button>
    <md-button ng-show="user.admin" ui-sref="root.admin">admin</md-button>
    <md-button ng-show="user.email" ui-sref="root.confirm">confirm page</md-button>
    <md-button ng-show="user.email" class="md-primary md-hue-2" ng-click="signOut()">sign out</md-button>
</span>
<span ng-show="$state.includes('root.login')" layout="row">
    <md-button ng-hide="user.email" class="md-primary md-hue-2" style="color: rgb(12,129,72);" ui-sref="root.signup">signup</md-button>
    <md-button ng-show="user.admin" ui-sref="root.admin">admin</md-button>
    <md-button ng-show="user.email" class="md-primary md-hue-2" ng-click="signOut()">sign out</md-button>
</span>
<span ng-show="$state.includes('root.signup')" layout="row">
    <md-button ng-hide="user.email" class="md-raised md-primary md-hue-2" ui-sref="root.login">login</md-button>
    <md-button ng-show="user.admin" ui-sref="root.admin">admin</md-button>
    <md-button ng-show="user.email" class="md-primary md-hue-2" ng-click="signOut()">sign out</md-button>
</span>
<span ng-show="$state.includes('root.confirm')" layout="row">
    <md-button ng-show="user.admin" ui-sref="root.admin">admin</md-button>
    <md-button class="md-primary md-hue-2" ng-click="signOut()">sign out</md-button>
</span>
<span ng-show="$state.includes('root.admin')" layout="row">
    <md-button ng-show="user.admin" ui-sref="root.confirm">confirm page</md-button>
    <md-button class="md-primary md-hue-2" ng-click="signOut()">sign out</md-button>
</span>

