<div ng-show="$state.includes('root.home')" layout="row">
    <md-button class="md-primary md-hue-2" style="color: rgb(12,129,72);" ui-sref="root.signup">signup</md-button>
    <md-button class="md-raised md-primary md-hue-2" ui-sref="root.login">login</md-button>
</div>
<div ng-show="$state.includes('root.confirmation')" layout="row">
    <md-button class="md-primary md-hue-2" ng-click="signOut()">sign out</md-button>
    <md-button class="md-primary md-hue-2" ng-show="user.admin" ui-sref="root.admin">admin</md-button>
</div>
<div ng-show="$state.includes('root.admin')" layout="row">
    <md-button class="md-primary md-hue-2" ng-click="signOut()">sign out</md-button>
</div>