<div layout="row" layout-padding class="splash">
</div>
<div layout="column">
    <div flex layout-margin layout-align="center center">
        <h1 class="md-title">HelloWorld!</h1>
    </div>
</div>
<div layout="row" layout-xs="column" class="infoRow">
    <div flex layout-margin>
        <h2 class="md-headline" style="color: rgb(12,129,72);">Does all the things &#8594;</h2>
        <p class="md-subhead" style="color: slategray">This app lets you log in</p>
    </div>
    <div flex layout-margin>
        <h2 class="md-headline" style="color: rgb(12,129,72);">You can admin &#8594;</h2>
        <p class="md-subhead" style="color: slategray">Ever wanted to be an admin? Now you can! Just email alex</p>
    </div>
</div>
<div layout="row" layout-xs="column" class="infoRow" >
    <div flex layout-margin>
        <h2 class="md-headline" style="color: rgb(12,129,72);">A tree falls&#8594;</h2>
        <p style="color: slategray">Does it make a sound?</p>
    </div>
    <div flex layout-margin>
        <h2 class="md-headline" style="color: rgb(12,129,72);">Closer to Kevin Bacon &#8594;</h2>
        <p style="color: slategray">Get one more degree closer to Mr. Bacon himself</p>
    </div>
</div>
<div layout="row" layout-xs="column" class="infoRow" >
    <div flex layout-margin>
        <h2 class="md-headline" style="color: rgb(12,129,72);">Automate Reporting &#8594;</h2>
        <p style="color: slategray">BundlesLang can be easily integrated into reports or APIs with our user-friendly endpoints and transportable queries. Stop wasting time, slang a bundle of queries today! </p>
    </div>
    <div flex layout-margin>
        <h2 class="md-headline" style="color: rgb(12,129,72);">Topic Surfacing &#8594;</h2>
        <p style="color: slategray">Combine bundleslang with IBM BlueMix or any other sentiment, salience, lexalytics, or topic surfacing API to mine more data faster. </p>
    </div>
</div>
