<div layout="row" layout-padding class="splash">
</div>
<div layout="column">
    <div flex layout-margin layout-align="center center">
        <h1 class="md-title">Heloworld</h1>
    </div>
</div>
<div layout="row" layout-xs="column" class="infoRow">
    <div flex layout-margin>
        <h2 class="md-headline" style="color: rgb(12,129,72);">Does stuff &#8594;</h2>
        <p class="md-subhead" style="color: slategray">Does tons of stuff, just signup</p>
    </div>
    <div flex layout-margin>
        <h2 class="md-headline" style="color: rgb(12,129,72);">Ridiculously Useful &#8594;</h2>
        <p class="md-subhead" style="color: slategray">If you signup, and apply to be an admin, you could become an admin!</p>
    </div>
</div>
<div layout="row" layout-xs="column" class="infoRow" >
    <div flex layout-margin>
        <h2 class="md-headline" style="color: rgb(12,129,72);">Falcons are wonderful &#8594;</h2>
        <p style="color: slategray">Did you know these birds of prey are ridiculously fast</p>
    </div>
    <div flex layout-margin>
        <h2 class="md-headline" style="color: rgb(12,129,72);">Steve Holt!&#8594;</h2>
        <p style="color: slategray">Steve Holt!</p>
    </div>
</div>
<div layout="row" layout-xs="column" class="infoRow" >
    <div flex layout-margin>
        <h2 class="md-headline" style="color: rgb(12,129,72);">Shakespear &#8594;</h2>
        <p style="color: slategray">Get ready for the acting challenge of your whole life, for you, are beatrice.</p>
    </div>
    <div flex layout-margin>
        <h2 class="md-headline" style="color: rgb(12,129,72);">George Micheal &#8594;</h2>
        <p style="color: slategray">Does not rebel</p>
    </div>
</div>