<div layout="row" layout-padding class="splash">
</div>
<div layout="column">
    <div flex layout-margin layout-align="center center">
        <h1 class="md-title"> What can BundlesLANG be used for?</h1>
    </div>
</div>
<div layout="row" layout-xs="column" class="infoRow">
    <div flex layout-margin>
        <h2 class="md-headline" style="color: rgb(12,129,72);">Data Mine Market Data &#8594;</h2>
        <p class="md-subhead" style="color: slategray">Use Bundleslang to easily mine market data, count stock ticker mentions</p>
    </div>
    <div flex layout-margin>
        <h2 class="md-headline" style="color: rgb(12,129,72);">Brand Reputation Management &#8594;</h2>
        <p class="md-subhead" style="color: slategray">Ever wonder if your PR releases got buzz? Wondering if people are mentioning your brand? Bundleslang can help and cut down report time!</p>
    </div>
</div>
<div layout="row" layout-xs="column" class="infoRow" >
    <div flex layout-margin>
        <h2 class="md-headline" style="color: rgb(12,129,72);">Marketing Keywords & Hashtags &#8594;</h2>
        <p style="color: slategray">Stop stitching together multiple reports to find what hashtags and keywords your customers are using. Bundleslang does all of that for you. </p>
    </div>
    <div flex layout-margin>
        <h2 class="md-headline" style="color: rgb(12,129,72);">Discover Fashion & Market Trends &#8594;</h2>
        <p style="color: slategray">The intuitive Bundleslang Syntax makes staying on top of trends a breeze. Try one of our pre-built queries to stay relevant and find new ideas today!</p>
    </div>
</div>
<div layout="row" layout-xs="column" class="infoRow" >
    <div flex layout-margin>
        <h2 class="md-headline" style="color: rgb(12,129,72);">Automate Reporting &#8594;</h2>
        <p style="color: slategray">BundlesLang can be easily integrated into reports or APIs with our user-friendly endpoints and transportable queries. Stop wasting time, slang a bundle of queries today! </p>
    </div>
    <div flex layout-margin>
        <h2 class="md-headline" style="color: rgb(12,129,72);">Topic Surfacing &#8594;</h2>
        <p style="color: slategray">Combine bundleslang with IBM BlueMix or any other sentiment, salience, lexalytics, or topic surfacing API to mine more data faster. </p>
    </div>
</div>