<div layout="column" layout-align="space-around center">
    <div flex layout-align="center center">
        <h1 class="md-display-3" ng-show="$state.includes('root.admin')">Admin Sign in</h1>
        <h1 class="md-display-3" ng-show="$state.includes('root.login')">Sign in</h1>
        <h1 class="md-display-3" ng-show="$state.includes('root.signup')">Sign up</h1>
    </div>
        <div flex>
            <md-input-container>
                <label>Email</label>
                <input class="md-headline" type="email" ng-model="email" required>
            </md-input-container>
        </div>
        <div flex>
            <md-input-container>
                <label>Password</label>
                <input class="md-headline" type="password" ng-model="password" required>
            </md-input-container>
        </div>
        <div flex ng-show="$state.includes('root.signup')">
                <md-input-container>
                    <label>First Name</label>
                    <input class="md-headline" type="text" ng-model="first_name" required>
                </md-input-container>
        </div>
    <div flex ng-show="$state.includes('root.signup')">
            <md-input-container>
                <label>Last Name</label>
                <input class="md-headline" type="text" ng-model="last_name" required>
            </md-input-container>
    </div>
    <div flex ng-show="$state.includes('root.signup')">
        <md-input-container>
            <label>address</label>
            <input class="md-headline" type="text" gm-places-autocomplete ng-model="autocomplete" required>
        </md-input-container>
        <h3>Results:</h3>
        <ul>
            <li>Number: {{ streetNumber }}</li>
            <li>Street: {{ street }}</li>
            <li>City: {{ city }}</li>
            <li>State: {{ state }}</li>
            <li>Zip: {{ zip }}</li>
        </ul>

    </div>
        <div flex class="md-display-2">
            <md-button class="md-raised md-primary" ng-click="signIn()" ng-show="$state.includes('root.login')">Sign In</md-button>
            <md-button class="md-raised md-primary" ng-click="signUp()" ng-show="$state.includes('root.signup')">Sign Up</md-button>
        </div>
    <div>
        <md-button class="md-primary md-hue-2" ng-click="reset()">Reset Password</md-button>
    </div>
</div>

