<div layout="column" layout-align="space-around center">
    <div flex layout-align="center center">
        <h1 class="md-display-3" ng-show="$state.includes('root.admin')">Admin Sign in</h1>
        <h1 class="md-display-3" ng-show="$state.includes('root.login')">Sign in</h1>
        <h1 class="md-display-3" ng-show="$state.includes('root.signup')">Sign up</h1>
    </div>
    <form name="loginForm">
        <div flex>
            <md-input-container class="md-block">
                <label>Email</label>
                <input md-maxlength="40" md-no-asterisk class="md-headline" name="email" ng-model="user.email" required>
                <div ng-messages="user.email.$error">
                    <div ng-message="required">email is required.</div>
                    <div ng-message="md-maxlength">email must be less than 30 characters long.</div>
                </div>
            </md-input-container>
        </div>
        <div flex>
            <md-input-container class="md-block">
                <label>Password</label>
                <input aria-label="password" class="md-headline" type="password" ng-model="user.password" required>
                <div ng-messages="user.password.$error">
                    <div ng-message="required">password is required.</div>
                </div>
            </md-input-container>
        </div>
        <div flex ng-show="$state.includes('root.signup')">
            <md-input-container class="md-block">
                <label>First Name</label>
                <input aria-label="first name" class="md-headline" type="text" ng-model="user.first_name" required>
                <div ng-messages="user.first_name.$error">
                    <div ng-message="required">first name is required.</div>
                </div>
            </md-input-container>
        </div>
        <div flex ng-show="$state.includes('root.signup')">
            <md-input-container class="md-block">
                <label>Last Name</label>
                <input aria-label="last name" class="md-headline" type="text" ng-model="user.last_name" required>
                <div ng-messages="user.last_name.$error">
                    <div ng-message="required">last name is required.</div>
                </div>
            </md-input-container>
        </div>
        <div flex ng-show="$state.includes('root.signup')">
            <md-input-container class="md-block">
                <input aria-label="address" type="text"  ng-model="user.autocomplete" placeholder="" gm-places-autocomplete required >
                <div ng-messages="user.autocomplete.$error">
                    <div ng-message="required">address is required.</div>
                </div>
            </md-input-container>
            <em>address:</em>
                {{user.email}}
                <br>{{ user.streetNumber }} {{ user.street }}
                <br>{{ user.city }} {{ user.state }}, {{ user.zip }}
        </div>
        <div flex class="md-display-2" ng-show="$state.includes('root.signup')">
            <md-button flex type="submit" ng-disabled="loginForm.$invalid" class="md-raised md-primary" ng-click="signUp()">Sign Up</md-button>
        </div>
    </form>
    <div flex class="md-display-2" ng-show="$state.includes('root.login')" >
        <md-button class="submit-button md-raised md-primary" ng-click="signIn()">Sign In</md-button>
        </div>
    <div>
        <md-button class="md-primary md-hue-2" ng-click="reset()">Reset Password</md-button>
    </div>
</div>

